.button{
    background-color: white;
    margin: 8px;
    padding: 8px 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}